{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if banners %}
                {% for item in banners %}
                    {% if item.ordering < 3  %}
                        <div class="col-lg-6">
                            <div class="banner banner-big banner-overlay">
                                <a href="{{item.link}}">
                                    <img src="{{ item.image.url }}" alt="{{item.title_1}}">
                                </a>

                                <div class="banner-content banner-content-center">
                                    <h3 class="banner-subtitle text-white"><a href="{{item.link}}">{{item.title_1}}</a></h3><!-- End .banner-subtitle -->
                                    <h2 class="banner-title text-white"><a href="{{item.link}}">{{item.title_2}}</a></h2><!-- End .banner-title -->
                                    <a href="{{item.link}}" class="btn underline"><span>Discover Now</span></a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-6 -->
                    {% else %}


                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay text-white">
                                <a href="{{item.link}}">
                                    <img src="{{ item.image.url }}" alt="{{item.title_1}}">
                                </a>

                                <div class="banner-content banner-content-right">
                                    <h4 class="banner-subtitle"><a href="{{item.link}}">{{item.title_1}}</a></h4><!-- End .banner-subtitle -->
                                    <h3 class="banner-title"><a href="{{item.link}}">{{item.title_2|safe}}</a></h3><!-- End .banner-title -->
                                    <a href="{{item.link}}" class="btn underline banner-link">Shop Now</a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->

                    {% endif %}
                {% endfor %}
            {% endif %}

        </div><!-- End .row -->

    </div><!-- End .container-fluid -->

    <div class="icon-boxes-container bg-transparent">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-12 icon-boxes"">
                    <div class="col-sm-6 col-lg-4">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-truck"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Payment & Delivery</h3><!-- End .icon-box-title -->
                                <p>Free shipping for orders over $50</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->

                    <div class="col-sm-6 col-lg-4">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-rotate-left"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Return & Refund</h3><!-- End .icon-box-title -->
                                <p>Free 100% money back guarantee</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->

                    <div class="col-sm-6 col-lg-4">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon">
                                <i class="icon-headphones"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Quality Support</h3><!-- End .icon-box-title -->
                                <p>Alway online feedback 24/7</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-4 -->
                </div>
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .icon-boxes-container -->

    <hr class="mt-0 mb-6">

    <div class="container-fluid">
        {% if trendingProducts %}
        <div class="heading heading-center mb-4">
            <h2 class="title"><span class="title-border-bottom">Trending</span></h2><!-- End .title -->
        </div><!-- End .heading -->
         <div class="products">
            <div class="row justify-content-center">
                {% for item in trendingProducts %}
                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="product.html">
                                <img src="{{item.image.url}}" alt="{{item.name}}" class="product-image">
                                <img src="{{item.image2.url}}" alt="{{item.name}}" class="product-image-hover">
                            </a>

<!--                            <div class="product-action-vertical">-->
<!--                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>-->
<!--                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>-->
<!--                            </div>-->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html">{{item.name}}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                <span class="new-price">${{item.price}}</span>
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                {% endfor %}
            </div><!-- End .row -->
        </div><!-- End .products -->
        <div class="more-container text-center mt-2">
            <a href="{% url 'products.tag' 'Trending' %}" class="btn btn-outline-dark-3 btn-more"><span>Browse more</span><i class="icon-long-arrow-right"></i></a>
        </div><!-- End .more-container -->
        <hr class="mt-0 mb-6">
        {% endif %}

        {% if trendingProducts %}
        <div class="heading heading-center mb-4">
            <h2 class="title"><span class="title-border-bottom">NEW ARRIVALS</span></h2><!-- End .title -->
        </div><!-- End .heading -->
         <div class="products">
            <div class="row justify-content-center">
                {% for item in trendingProducts %}
                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="product.html">
                                <img src="{{item.image.url}}" alt="{{item.name}}" class="product-image">
                                <img src="{{item.image2.url}}" alt="{{item.name}}" class="product-image-hover">
                            </a>

<!--                            <div class="product-action-vertical">-->
<!--                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>-->
<!--                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>-->
<!--                            </div>-->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html">{{item.name}}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                <span class="new-price">${{item.price}}</span>
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                {% endfor %}
            </div><!-- End .row -->
        </div><!-- End .products -->
        <div class="more-container text-center mt-2">
            <a href="{% url 'products.tag' 'Trending' %}" class="btn btn-outline-dark-3 btn-more"><span>Browse more</span><i class="icon-long-arrow-right"></i></a>
        </div><!-- End .more-container -->
        <hr class="mt-0 mb-6">
        {% endif %}

        {% if trendingProducts %}
        <div class="heading heading-center mb-4">
            <h2 class="title"><span class="title-border-bottom">Featured</span></h2><!-- End .title -->
        </div><!-- End .heading -->
         <div class="products">
            <div class="row justify-content-center">
                {% for item in trendingProducts %}
                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                    <div class="product product-7 text-center">
                        <figure class="product-media">
                            <a href="product.html">
                                <img src="{{item.image.url}}" alt="{{item.name}}" class="product-image">
                                <img src="{{item.image2.url}}" alt="{{item.name}}" class="product-image-hover">
                            </a>

<!--                            <div class="product-action-vertical">-->
<!--                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>-->
<!--                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>-->
<!--                            </div>-->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html">{{item.name}}</a></h3><!-- End .product-title -->
                            <div class="product-price">
                                <span class="new-price">${{item.price}}</span>
                            </div><!-- End .product-price -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                {% endfor %}
            </div><!-- End .row -->
        </div><!-- End .products -->
        <div class="more-container text-center mt-2">
            <a href="{% url 'products.tag' 'Trending' %}" class="btn btn-outline-dark-3 btn-more"><span>Browse more</span><i class="icon-long-arrow-right"></i></a>
        </div><!-- End .more-container -->
        <hr class="mt-0 mb-6">
        {% endif %}

        <div class="blog-posts mb-4">
            <h2 class="title text-center mb-3">From Our Blog</h2><!-- End .title text-center -->

            <div class="owl-carousel owl-simple mb-2" data-toggle="owl"
                data-owl-options='{
                    "nav": false,
                    "dots": true,
                    "items": 3,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":1
                        },
                        "520": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        }
                    }
                }'>
                <article class="entry">
                    <figure class="entry-media">
                        <a href="single.html">
                            <img src="{% static 'assets/images/demos/demo-7/blog/post-1.jpg' %}" alt="image desc">
                        </a>
                    </figure><!-- End .entry-media -->

                    <div class="entry-body text-center">
                        <div class="entry-meta">
                            <a href="#">Nov 22, 2018</a>, 1 Comments
                        </div><!-- End .entry-meta -->

                        <h3 class="entry-title">
                            <a href="single.html">Sed adipiscing ornare.</a>
                        </h3><!-- End .entry-title -->

                        <div class="entry-content">
                            <a href="single.html" class="read-more">Read More</a>
                        </div><!-- End .entry-content -->
                    </div><!-- End .entry-body -->
                </article><!-- End .entry -->

                <article class="entry">
                    <figure class="entry-media">
                        <a href="single.html">
                            <img src="{% static 'assets/images/demos/demo-7/blog/post-2.jpg' %}" alt="image desc">
                        </a>
                    </figure><!-- End .entry-media -->

                    <div class="entry-body text-center">
                        <div class="entry-meta">
                            <a href="#">Dec 12, 2018</a>, 0 Comments
                        </div><!-- End .entry-meta -->

                        <h3 class="entry-title">
                            <a href="single.html">Fusce lacinia arcuet nulla.</a>
                        </h3><!-- End .entry-title -->

                        <div class="entry-content">
                            <a href="single.html" class="read-more">Read More</a>
                        </div><!-- End .entry-content -->
                    </div><!-- End .entry-body -->
                </article><!-- End .entry -->

                <article class="entry">
                    <figure class="entry-media">
                        <a href="single.html">
                            <img src="{% static 'assets/images/demos/demo-7/blog/post-3.jpg' %}" alt="image desc">
                        </a>
                    </figure><!-- End .entry-media -->

                    <div class="entry-body text-center">
                        <div class="entry-meta">
                            <a href="#">Dec 19, 2018</a>, 2 Comments
                        </div><!-- End .entry-meta -->

                        <h3 class="entry-title">
                            <a href="single.html">Quisque volutpat mattis eros.</a>
                        </h3><!-- End .entry-title -->

                        <div class="entry-content">
                            <a href="single.html" class="read-more">Read More</a>
                        </div><!-- End .entry-content -->
                    </div><!-- End .entry-body -->
                </article><!-- End .entry -->

                <article class="entry">
                    <figure class="entry-media">
                        <a href="single.html">
                            <img src="{% static 'assets/images/demos/demo-7/blog/post-4.jpg' %}" alt="image desc">
                        </a>
                    </figure><!-- End .entry-media -->

                    <div class="entry-body text-center">
                        <div class="entry-meta">
                            <a href="#">Dec 25, 2018</a>, 3 Comments
                        </div><!-- End .entry-meta -->

                        <h3 class="entry-title">
                            <a href="single.html">Mauris suscipit in massa.</a>
                        </h3><!-- End .entry-title -->

                        <div class="entry-content">
                            <a href="single.html" class="read-more">Read More</a>
                        </div><!-- End .entry-content -->
                    </div><!-- End .entry-body -->
                </article><!-- End .entry -->
            </div><!-- End .owl-carousel -->
        </div><!-- End .blog-posts -->
    </div><!-- End .container-fluid -->

    <div class="bg-light-2 pt-7 pb-6 testimonials">
        <div class="container">
            <h2 class="title text-center mb-2">Our Customers Say</h2><!-- End .title text-center -->
            <div class="owl-carousel owl-simple owl-testimonials" data-toggle="owl"
                data-owl-options='{
                    "nav": false,
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "1200": {
                            "nav": true
                        }
                    }
                }'>
                <blockquote class="testimonial testimonial-icon text-center">
                    <p class="lead">“Really great store”</p><!-- End .lead -->
                    <p>“ Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra<br>a, ultricies in, diam. Sed arcu. ”</p>

                    <cite>
                        Charly Smith,
                        <span>Customer</span>
                    </cite>
                </blockquote><!-- End .testimonial -->

                <blockquote class="testimonial testimonial-icon text-center">
                    <p class="lead">“Friendly Support”</p><!-- End .lead -->
                    <p>“ Impedit, ratione sequi, sunt incidunt magnam et. Delectus obcaecati optio eius error libero perferendis nesciunt atque dolores magni recusandae! Doloremque quidem error eum quis similique doloribus natus qui ut ipsum.”</p>

                    <cite>
                        Damon Stone
                        <span>Customer</span>
                    </cite>
                </blockquote><!-- End .testimonial -->

                <blockquote class="testimonial testimonial-icon text-center">
                    <p class="lead">“Friendly Support”</p><!-- End .lead -->
                    <p>“ Impedit, ratione sequi, sunt incidunt magnam et. Delectus obcaecati optio eius error libero perferendis nesciunt atque dolores magni recusandae! Doloremque quidem error eum quis similique doloribus natus qui ut ipsum.”</p>

                    <cite>
                        Damon Stone
                        <span>Customer</span>
                    </cite>
                </blockquote><!-- End .testimonial -->

                <blockquote class="testimonial testimonial-icon text-center">
                    <p class="lead">“Friendly Support”</p><!-- End .lead -->
                    <p>“ Impedit, ratione sequi, sunt incidunt magnam et. Delectus obcaecati optio eius error libero perferendis nesciunt atque dolores magni recusandae! Doloremque quidem error eum quis similique doloribus natus qui ut ipsum.”</p>

                    <cite>
                        Damon Stone
                        <span>Customer</span>
                    </cite>
                </blockquote><!-- End .testimonial -->

                <blockquote class="testimonial testimonial-icon text-center">
                    <p class="lead">“Free Shipping”</p><!-- End .lead -->
                    <p>“ Molestias animi illo natus ut quod neque ad accusamus praesentium fuga! Dolores odio alias sapiente odit delectus quasi, explicabo a, modi voluptatibus. Perferendis perspiciatis, voluptate, distinctio earum veritatis animi tempora eget blandit nunc tortor mollis ”</p>

                    <cite>
                        John Smith
                        <span>Customer</span>
                    </cite>
                </blockquote><!-- End .testimonial -->
            </div><!-- End .testimonials-slider owl-carousel -->
        </div><!-- End .container -->
    </div><!-- End .bg-light pt-5 pb-5 -->

 {% endblock  %}
