    <div class="dropdown cart-dropdown">
        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
            <i class="icon-shopping-cart"></i>
            <span class="cart-count total-cart-item">{{total_cart_item}}</span>
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-cart-products">

                {% if cart_items %}
                    {% for cart_item in cart_items %}
                        <div class="product">
                            <div class="product-cart-details">
                                <h4 class="product-title">
                                    <a href="{% url 'product.details' cart_item.product_id %}">{{cart_item.product.name}}</a>
                                </h4>

                                <span class="cart-product-info">
                                    <span class="cart-product-qty">{{cart_item.quantity}}</span>
                                    x ${{cart_item.price}}
                                </span>
                            </div><!-- End .product-cart-details -->

                            <figure class="product-image-container">
                                <a href="product.html" class="product-image">
                                    <img style="height:45px" src="{{cart_item.product.image.url}}" alt="{{cart_item.product.name}}">
                                </a>
                            </figure>
                            <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                        </div><!-- End .product -->
                    {% endfor %}
                {% else %}
                    <h6 class="text-center">Cart is empty</h6>
                {% endif %}

            </div><!-- End .cart-product -->

            {% if cart_items %}
            <div class="dropdown-cart-total">
                <span>Total</span>
                <span class="cart-total-price">${{cart_item_total_price}}</span>
            </div><!-- End .dropdown-cart-total -->
            <div class="dropdown-cart-action">
                <a href="cart.html" class="btn btn-primary">View Cart</a>
                <a href="checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
            </div><!-- End .dropdown-cart-total -->
            {% endif %}

        </div><!-- End .dropdown-menu -->
    </div><!-- End .cart-dropdown -->
