{% extends 'base.html' %}
{% load static %}
{% block content %}
     <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">{{page_title}}</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">

                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        {% if p_type %}
                            <li class="breadcrumb-item"><a href="{% url 'products' %}">Products</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{p_type}}</li>
                        {% else %}
                            <li class="breadcrumb-item active" aria-current="page">Products</li>
                        {% endif %}
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
        			<div class="toolbox">
                        <div class="toolbox-center">
                            <div class="toolbox-info">
                                Showing <span>12 of 56</span> Products
                            </div><!-- End .toolbox-info -->
                        </div><!-- End .toolbox-center -->

        				<div class="toolbox-right">
        					<div class="toolbox-sort">
        						<label for="sortby">Sort by:</label>
        						<div class="select-custom">
									<select name="sortby" id="sortby" class="form-control">
										<option value="popularity" selected="selected">Most Popular</option>
										<option value="rating">Most Rated</option>
										<option value="date">Date</option>
									</select>
								</div>
        					</div><!-- End .toolbox-sort -->
        				</div><!-- End .toolbox-right -->
        			</div><!-- End .toolbox -->

                    <div class="products">
                        <div class="row justify-content-center">
                            {% if products %}
                                {% for item in products %}
                                <div class="col-6 col-md-4 col-lg-3 col-xl-5col">
                                    <div class="product product-7 text-center">
                                        <figure class="product-media">
                                            <a href="product.html">
                                                <img src="{{item.image.url}}" alt="{{item.name}}" class="product-image">
                                                <img src="{{item.image.url}}" alt="{{item.name}}" class="product-image-hover">
                                            </a>

                <!--                            <div class="product-action-vertical">-->
                <!--                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>-->
                <!--                                <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>-->
                <!--                            </div>-->

                                            <div class="product-action">
                                                <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <h3 class="product-title"><a href="product.html">{{item.name}}</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <span class="new-price">${{item.price}}</span>
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                                {% endfor %}
                            {% else %}
                                <h4 class="text-center">Product not found</h4>
                            {% endif %}
                        </div><!-- End .row -->

                        <div class="load-more-container text-center">
                            <a href="#" class="btn btn-outline-darker btn-load-more">More Products <i class="icon-refresh"></i></a>
                        </div><!-- End .load-more-container -->
                    </div><!-- End .products -->

                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

{% endblock  %}
